:root {
  --white-color: #fffafa;
  --main-color: #014ed5;
  --primary-color: #102851;
  --primary-color-1: #ccdfff;
  --primary-color-2: #e8f1ff;
  --primary-color-3: #9069e8;
  --primary-color-4: #d9dddc;
  --primary-color-5: #487fe2;
  --primary-color-6: #34496d;
  --primary-color-7: #86909e;
}
