
.feedback {
    background-color: #f1f1f2;
    padding-bottom: 0;
}
.feedback .container{
    flex-direction: column;
}
.feedback__title{
    flex-direction: column;
    padding-bottom: 5rem;
}
.feedback__title h2{
    font-size: 4rem;
    color: var(--primary-color);
}
.feedback__descrip{
    text-align: center;
    color: var(--primary-color-7);
    font-weight: 400;
    line-height: 2;
}
.feedback__box{
    grid-template-areas: "feedbackImg feedbackContent";
    align-items: center;
}
.feedback__content{
    grid-area: feedbackContent;
    flex-direction: column;
    align-items: flex-start;
}
.feedback__profile img{
    max-height: 10rem;
    border-radius: 1.5rem;
    background-color: rgb(42, 228, 166);
    box-shadow: 0.5rem 0.5rem 0.5rem 0 rgb(0 0 0 / 10%);
}
.feedback__info{
    flex-direction: column;
    justify-content: space-evenly;
}
.feedback__info h4{
    font-size: 2rem;
    color: var(--primary-color);
}
.feedback__info p{
    font-size: 1.3rem;
    color: var(--primary-color-7);
}
.feedback__rating{
    gap: 0.3rem;
}
.feedback__rating i{
    color: #ded06b;
}
.feedback__description{
    line-height: 2;
    color: var(--primary-color-7);
    font-weight: bold;
}
.feedback__content .pagination__list{
    padding-top: 0;
}
.feedback__img{
    grid-area: feedbackImg;
    position: relative;
    justify-content: center;
    opacity: 1;
    visibility: visible;
}
.feedback__img img{
    height: 60rem;
    object-fit: cover;
    z-index: 1;
    position: relative;

}
.feedback__img--bgcolor{
    clip-path: polygon(0 62%, 100% 43%, 100% 100%, 0% 100%);
    position: absolute;
    background-color: #ccdfff69;
    width: 100%;
    height: 65rem;
    border-radius: 2rem;
    bottom: 0rem;
    right: 3rem;
    z-index: 0;
}
@media screen and (max-width: 1000px){
    .feedback__img{
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    .feedback{
        padding-bottom: 5.7em;
    }

}