.hero__wrapper{
    padding-bottom: 0;
    background-color: var(--primary-color-2);
}


.header__hero{
    display: grid;
    grid-template-areas: "content"
                         "search";
  }
.header__title{
    flex-direction: column;
  grid-area: title; 
}
.header__content{
    -webkit-transform: translateY(30%);
    transform: translateY(30%);
    margin-top: -9rem;
    display: grid;
    grid-template-areas: "title img";
}
.header__title h1{
    line-height: 1.5;
    font-size: 5rem;
    color: var(--primary-color);
}
.header__title p{
    line-height: 2;
    color: var(--primary-color-7);
}
.header__card {
    background-color: var(--primary-color);
    padding: 2rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    color: var(--white-color);
}
.header__card h4{
    font-weight: 200;
}
.header__card img{
    max-width: 21%;
    z-index: 1;
}
.header__img {
   grid-area: img; 
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}
.header__img img{
    width: 100%;
    height: 43rem;
    object-fit: cover;
    z-index: 5;
}
.header__background--shape{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
}
.header__background--shape:nth-child(4) {
    width: 33vw;
    height: 33vw;
    background-color: #d4e4f51a;
    box-shadow: -0.5rem 0rem 1rem #b9c7e178, 0.5rem 0.2rem 1rem #b5b9c1;
    animation: expand 17000ms linear infinite;
}
.header__background--shape:nth-child(5) {
    width: 24vw;
    height: 24vw;
    background-color: #dce0ff7d;
    box-shadow: -0.5rem 0rem 1rem #b9c7e15c, 0.5rem 0.2rem 1rem #b5b9c1;
}
.header__circle {
    border: 0.2rem dashed;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    animation: circle 10000ms linear infinite;
}
.header__circle:nth-child(2){
    width: 19vw;
    height: 19vw;
    border-color: #8d93b9;
    animation-direction: reverse;
}
.header__circle:nth-child(3){
    width: 29vw;
    height: 29vw;
    border-color: #8fb3de;
}
.header__circle i {
    box-shadow: 0.1rem 0.1rem 1rem 0 rgb(0 0 0 / 33%);
    position: absolute;
    color: var(--primary-color-5);
    background-color: var(--white-color);
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__circle:nth-child(2) i:nth-child(1){
    top: -1rem;
    right: 12rem;
}
.header__circle:nth-child(2) i:nth-child(2){
    top: -1rem;
    right: 12rem;
}
.header__circle:nth-child(2) i:nth-child(3){
    bottom: 5rem;
    left: 1rem;
}
.header__circle:nth-child(2) i:nth-child(4){
    top: 9rem;
    left: 0rem;
}
.header__circle:nth-child(2) i:nth-child(5){
    top: 13rem;
    right: -1rem;
}
.header__circle:nth-child(3) i:nth-child(1){
    top: 2rem;
    left: 9rem;
}
.header__circle:nth-child(3) i:nth-child(2){
    top: 8rem;
    right: 3rem;
}
.header__circle:nth-child(3) i:nth-child(3){
    bottom: 11rem;
    right: 1rem;
}
.header__circle:nth-child(3) i:nth-child(4){
    bottom: 0rem;
    left: 14rem;
}
.header__circle:nth-child(3) i:nth-child(5){
    bottom: 19rem;
    left: -1rem;
}


@media screen and (max-width: 992px){
    .header__content{
      display: grid;
      grid-template-areas: "title" 
                            "img";
      gap: 8rem;
  } 
  }
/* //////// animations ////////// */

@keyframes circle {
    100% {
        transform: rotateZ(360deg);
    }
} 
@keyframes expand {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.07);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.07);
    }
    100% {
        transform: scale(1);
    }
} 