@import url("https://fonts.googleapis.com/css?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
  background-color: #f9f9f9;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 1rem;
  height: 4rem;
}
::-webkit-scrollbar-track {
  background: var(--white-color);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(107, 155, 252, 0.623);
  border-radius: 2rem;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
ul,
li {
  list-style: none;
  list-style-type: none;
}
input,
button,
textarea,
select,
input[type="text"]::placeholder {
  font: inherit;
}
section {
  padding: 5.7em 0;
}
textarea {
  resize: none;
}
input:focus {
  transition: all 0.3s ease-in-out;
  outline: 0;
  box-shadow: 0.09rem 0rem 1.5rem 0 rgb(59 102 229 / 44%);
}
#scroll--top {
  z-index: 10;
  position: fixed;
  display: flex;
  padding: 1.5rem;
  box-shadow: rgb(0 0 0 / 24%) 0.2rem 0.1rem 2rem 0rem;
  background-color: var(--white-color);
  border-radius: 3rem;
  align-items: center;
  color: var(--main-color);
  -webkit-transition: all 0.5s ease, opacity 0.5s ease-in-out,
      visibility 0.5s ease-in-out;
  -moz-transition: all 0.5s ease, opacity 0.5s ease-in-out,
      visibility 0.5s ease-in-out;
  -ms-transition: all 0.5s ease, opacity 0.5s ease-in-out,
      visibility 0.5s ease-in-out;
  -o-transition: all 0.5s ease, opacity 0.5s ease-in-out,
      visibility 0.5s ease-in-out;
  transition: all 0.5s ease, opacity 0.5s ease-in-out,
      visibility 0.5s ease-in-out;
  bottom: 2rem;
  right: 2rem;
  font-size: 2rem;
  cursor: pointer;
  width: 4.5rem;
  height: 4.5rem;
  opacity: 0;
  visibility: hidden;
}
.scroll--top--show {
  opacity: 1 !important;
  visibility: visible !important;
}
#scroll--top:hover {
  transform: translateY(-5%);
}
/* loader */
.loaderBg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #b7d9e8;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader .preloader{
  animation: rotate 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}
@keyframes rotate {
  50%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(720deg);
  }
}
.preloader span{
  position: absolute;
  display: block;
  height: 64px;
  width: 64px;
  background: #3fc1f2;
  border: 1px solid #3fc1f2;
  border-radius: 100%;
}
.preloader span:nth-child(1){
  transform: translate(-28px, -28px);
  animation: shape_1 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}
@keyframes shape_1 {
  60%{
    transform: scale(0.4);
  }
}
.preloader span:nth-child(2){
  transform: translate(28px, -28px);
  animation: shape_2 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}
@keyframes shape_2 {
  40%{
    transform: scale(0.4);
  }
}
.preloader span:nth-child(3){
  position: relative;
  border-radius: 0px;
  transform: scale(0.98) rotate(-45deg);
  animation: shape_3 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}
@keyframes shape_3 {
  50%{
    border-radius: 100%;
    transform: scale(0.5) rotate(-45deg);
  }
  100%{
    transform: scale(0.98) rotate(-45deg);
  }
}
.shadow {
  position: relative;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  height: 16px;
  width: 64px;
  border-radius: 50%;
  background-color: #aeb6b9;
  border: 1px solid #8f8080;
  animation: shadow 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}
@keyframes shadow {
  50%{
    transform: translateX(-50%) scale(0.5);
    border-color: #f2f2f2;
  }
}

/* Container Media Query */

@media only screen and (max-width: 1700px) {
  .container {
    max-width: 1620px;
  }
}
@media only screen and (max-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media only screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media only screen and (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}