
.searchBar__banner{
    background-color: var(--white-color);
    padding: 3rem 2rem;
    border-radius: 1rem;
    position: relative;
    box-shadow: rgb(0 0 0 / 7%) 0px 5px 20px 0px;
    z-index: 6;
    grid-area: search;
    display: grid;
    grid-template-areas:
        "input-1 input-2 search"
        "looking looking looking";
    grid-template-columns: repeat(2, minmax(10rem, 1fr)) auto;
    gap: 2rem;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

.input-1{
    grid-area: input-1;
}
.input-2{
    grid-area: input-2;
}
.search{
    grid-area: search;
}
.searchBar__content{
    flex-direction: column;
    grid-area: looking;
}
.searchBar__content p{
    font-weight: bold;
    color: var(--primary-color);
    font-size: 2rem;
}
.searchBar__tags{
    justify-content: flex-start;
    gap: min(1rem);
}
.searchBar__tags .btn__secondary:last-child{
    color: var(--main-color);
    background: var(--primary-color-1);
}
.searchBar__tags .btn i{
    height: 100%;
    display: flex;
    align-items: center;
}
/* popular search */
.popularSearch{
    padding-top: 20rem;
}
.popularSearch__items{
    display: grid;
    grid-template-columns: 1fr 6fr;
}
.popularSearch__title{
    padding-bottom: 8rem;
}
.popularSearch__title h2{
    color: var(--primary-color);
    font-size: 3.5rem;
}
.popularSearch__category{
    border-right: 0.3rem solid var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.popularSearch__list.active{
    color: var(--primary-color);
    font-weight: bold;
    background-color: var(--primary-color-1);
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}
.popularSearch__list{
    cursor: pointer;
    color: var(--primary-color-7);
    font-weight: 400;
    font-size: 1.8rem;
    padding: 1rem;
}
.popularSearch__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.popularSearch__item{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0.1rem 0.5rem 1rem rgb(0 0 0 / 10%);
    padding: 3rem 1rem;
    border-radius: 0.5rem;
    align-items: center;
    transition: all 500ms ease-in-out;
}
.popularSearch__item:hover, .popularSearch__item:focus {
    color: var(--main-color);
    background: rgb(137 186 233 / 55%);
    transform: translateY(-0.7rem);
    cursor: pointer;
}
.popularSearch__item p{
    font-weight: bold;
    color: var(--primary-color);
    text-align: center;
}
.popularSearch__item:hover .popularSearch__itemImg{
    animation: expand 5000ms infinite linear;
} 
.popularSearch__item:hover p{
    color: var(--primary-color);
}
.popularSearch__itemImg{
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
}
.popularSearch__itemImg img{
    padding: 2rem;
}
.popularSearch__tabs .popularSearch__item:nth-child(1) .popularSearch__itemImg{
    background-image: linear-gradient(42deg, #43a9ee 0%, #b4e5fc 50%, #c0e1f6 100%);
}
.popularSearch__tabs .popularSearch__item:nth-child(2) .popularSearch__itemImg{
    background-image: linear-gradient(45deg, #f2d552 0%, #f6d685 50%, #fff8c0 100%);
}
.popularSearch__tabs .popularSearch__item:nth-child(3) .popularSearch__itemImg{
    background-image: linear-gradient(45deg, #334e5c 0%, #527b8d 50%, #bdcad1 100%);   
}
.popularSearch__tabs .popularSearch__item:nth-child(4) .popularSearch__itemImg{
    background-image: linear-gradient(45deg, #189585 0%, #5be4cd 50%, #d3e6e6 100%);
}
.popularSearch__tabs .popularSearch__item:nth-child(5) .popularSearch__itemImg{
    background-image: linear-gradient(45deg, #ea3013 0%, #ea6867 50%, #fcc9c9 100%);
}
.popularSearch__tabs .popularSearch__item:nth-child(6) .popularSearch__itemImg{
    background-image: linear-gradient(45deg, #a050a0 0%, #fc92f5 50%, #fbdffc 100%);
}
.popularSearch__tabs{
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    display: -ms-grid;
    display: none;
    gap: 1em;
}
.popularSearch__tabs p{
    color: var(--primary-color-7);
    line-height: 2;
    text-align: justify;
    font-weight: 500;
}
.popularSearch__tabs ul{
    line-height: 2;
    font-weight: 500;
    color: var(--primary-color-7);
    margin-left: 2rem;
}
.popularSearch__tabs li{
    list-style-type: initial;
    transition: all 2s ease-in-out;
}
.popularSearch__tabs.active {
    display: grid;
    transition: all 2s ease-in-out;
}
@media screen and (max-width: 1430px){
    .header__content {
        -webkit-transform: translateY(40%);
        transform: translateY(40%);
        margin-top: -14rem;
        display: grid;
        grid-template-areas: "title img img";
    }
    .header__title h1 {
        font-size: 3rem;
    }
}
@media screen and (max-width: 1130px){

    .header__content {
        -webkit-transform: translateY(37%);
        transform: translateY(37%);
        margin-top: -19rem;
        display: grid;
        grid-template-areas: "title img img";
    }
    .header__title h1 {
        font-size: 3rem;
    }
}
@media screen and (max-width: 1060px){
    .header__content {
        -webkit-transform: translateY(37%);
        transform: translateY(37%);
        margin-top: -19rem;
        display: grid;
        grid-template-areas: "title img img";
    }
    .header__title h1 {
        font-size: 3rem;
    }
    .header__title{
        margin-bottom: 5rem;
    }
}
@media screen and (max-width: 992px){
    .header__content {
        -webkit-transform: translateY(25%);
        transform: translateY(35%);
        margin-top: -34rem;
        display: grid;
        grid-template-areas:
            "title"
            "img";
    }
    .header__title h1 {
        font-size: 4rem;
    }
    .header__title{
        margin-bottom: 0rem;
    }
    .header__img img {
        height: 90%;
        object-fit: contain;
    }
  .searchBar__banner{
    grid-template-areas:
        "input-1"
        "input-2"
        "search"
        "looking";
        grid-template-columns: repeat(1,auto);
    }
.popularSearch {
    padding-top: 26rem;
}
.popularSearch__items{
    display: flex;
    flex-direction: column;
}
.popularSearch__category{
    border-right: none;
    border-bottom: 0.3rem solid var(--main-color);
}
.popularSearch__list{
    border-radius: 1rem;
}
}

@media screen and (max-width: 640px){
    .popularSearch {
        padding-top: 32rem;
    }
    .header__content {
        -webkit-transform: translateY(33%);
        transform: translateY(33%);
        margin-top: -34rem;
        display: grid;
        grid-template-areas:
            "title"
            "img";
    }
    .header__title h1 {
        font-size: 4rem;
    }
    .header__title{
        margin-bottom: 0rem;
    }
    .header__img img {
       height: 100%;
    }
  .searchBar__banner{
    grid-template-areas:
        "input-1"
        "input-2"
        "search"
        "looking";
        grid-template-columns: repeat(1,auto);
}
}
@media screen and (max-width: 470px){
    .popularSearch {
        padding-top: 40rem;
    }
    .header__content {
        -webkit-transform: translateY(44%);
        transform: translateY(44%);
        margin-top: -40rem;
        display: grid;
        grid-template-areas:
            "title"
            "img";
    }
    .header__title h1 {
        font-size: 4rem;
    }
    .header__title{
        margin-bottom: 0rem;
    }
    .header__img img {
       height: 100%;
    }
  .searchBar__banner{
    grid-template-areas:
        "input-1"
        "input-2"
        "search"
        "looking";
        grid-template-columns: repeat(1,auto);
}
}

